@import url("https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&family=Odibee+Sans&display=swap");

// Color Vars
$primary-color: #f27400;
$base-color: #1f1c22;

// Typography
$base-font: "Odibee Sans", Helvetica, Arial, sans-serif;
$heading-font: "Codystar", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $base-font;
  color: $base-color;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
  font-weight: 300;
}

a {
  color: $base-color;
}

// Header
header {
  // border: 1px solid red;

  padding: 3rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 999;

  // Logo
  .logo {
    a {
      img {
        animation: logoRotate 2s infinite ease;
      }

      @keyframes logoRotate {
        from {
          transform: rotate(0deg);
        }

        to {
          transform: rotate(360deg);
        }
      }
    }
  }

  // Hamburger menu
  .menu-icon {
    position: relative;
    height: 10px;
    width: 40px;
    cursor: pointer;

    // border: 1px solid green;

    div {
      width: 40px;
      height: 1px;
      background-color: $primary-color;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      transition: all 0.2s ease;

      &.line-1 {
        top: 0;
      }

      &.line-2 {
        bottom: 0;
      }
    }

    &.active {
      .line-1 {
        transform: translateY(5px) translateX(-50%) rotate(45deg);
      }

      .line-2 {
        transform: translateY(-5px) translateX(-50%) rotate(-45deg);
      }
    }
  }
}

main.hero {
  // Makes it cover whole screen
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  // border: 6px solid slateblue;

  padding-left: 7rem;

  // To be able to vertical center all content
  display: flex;
  flex-direction: column;
  justify-content: center;

  // Use background to check z-index
  // background-color: rgba($color: red, $alpha: .75);
  // z-index: -1;

  h1 {
    font-size: 7vw;

    span {
      color: $primary-color;
    }
  }
  
}

.main-nav {
  position: absolute;
  left: 7rem;
  bottom: -200px;
  // border: 1px solid green;
  border-left: 1px solid $primary-color;
  animation: main-nav-animation 1s 0.5s ease forwards; // Animationen tar 1.5s sammanlagt
  overflow: hidden;
  // background-color: greenyellow;

  @keyframes main-nav-animation {
    to {
      bottom: 0;
    }
  }

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translateX(-100%);
    // border: 1px solid magenta;

    animation: main-nav-ul-animation 1s 2s ease forwards; // Om jag vill att denna animationen skall triggas efter så måste jag ha en delay på minst 1.5s

    @keyframes main-nav-ul-animation {
      to {
        transform: translateX(0);
      }
    }

    li {
      a {
        text-decoration: none;
        padding: 2rem 8rem;
        display: inline-block;
        cursor: pointer;

        font-size: 14px;
        letter-spacing: 0.75em;
        text-transform: uppercase;

        &:hover {
          color: white;
          background-color: rgba($color: white, $alpha: 0.15);
          backdrop-filter: blur(8px);
        }
      }
    }
  }
}

// Video
video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  object-fit: cover;
  z-index: -2;
}

#side-menu {
  // Make it absolute and placed top right
  position: absolute;
  top: -100%;
  left: 0;
  //left: -410px; // Moved the width -40px to the left

  // Size of menu 
  width: 100%;
  height: 100dvh;

  // Glassmorphism effect
  background-color: rgba($color: white, $alpha: .15);
  backdrop-filter: blur(8px);

  // Handle positions inside the menu
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 40vw;

  // Make it MOOOOOOOVE
  transition: top 0.6s ease;

  &.active {
    top: 0;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: 400;
  }

  .divider {
    width: 100%;
    height: 1px;
    background-color: $primary-color;
    margin: 2rem 0;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;

    input {
      border: none;
      border-bottom: 1px solid $base-color;
      background-color: rgba($color: white, $alpha: .4);
      padding: .75rem;
      margin-bottom: 1rem;

      &[type=submit] {
        border: 1px solid $primary-color;
        background-color: transparent;
        color: $primary-color;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          background-color: $primary-color;
          color: white;
        }
      }
    }
  }
}
